.container-common{
    margin: 0 auto;
    width: 1200px;
}

@media only screen and (max-width: 1280px) {
    .container-common {
        width: 90%;
    }
}   

.nav-items-mobile .nav-items {
    transition: transform 0.3s ease-in-out;
  }
  

  

