.container-common{
    margin: 0 auto;
    width: 1200px;
}

@media only screen and (max-width: 1280px) {
    .container-common {
        width: 90%;
    }
}   

.nav-items-mobile .nav-items {
    transition: transform 0.3s ease-in-out;
  }
  

  .circuit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px; /* Adjust height as needed */
    background-color: #222; /* Dark background color */
  }
  
  .node {
    width: 100%;
    height: auto;
    padding: 4px;
    margin: 0 20px;
    background-color: #4CAF50; /* Green node color */
  }
  